{{#each this}}
<li class="gallery__item">
           <a href="" id="{{id}}">
            <img class="gallery__img" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="">
            <div class="gallery__item-info">
                <h3 class="gallery__item-name">
                {{title}} </h3>
                <div class="gallery__item-info-wrap">
                <p class="gallery__item-genres">
                 {{genres}}   
                </p>
                <span class="gallery__item-year">|{{vote_average}}</span>
                <span class="gallery_item-rating">{{release_date}}</span>
                </div>
            </div>
           </a>
        </li>
{{/each}}