<div class="picture-wrapper">
    <img class="player-logo" src="{{player_logo}}" alt="player-logo">
    <img class="modal-poster-img" src="{{new_poster_path}}" alt="{{original_title}}">
</div>
            <div class="info-modal-card">
                <h2 class="film-title">{{original_title}}</h2>
                <div class="lists-wrapper">
                    <ul class="properties-list">
                        <li class="properties-list__item">Vote / Votes</li>
                        <li class="properties-list__item">Popularity</li>
                        <li class="properties-list__item">Original Title</li>
                        <li class="properties-list__item">Genre</li>
                    </ul>
                    <ul class="values-list">
                        <li class="values-list__item"><span class="values-list__item-vote">{{vote_average}}</span><span class="vote-separator"> /  </span>{{vote_count}}</li>
                        <li class="values-list__item">{{popularity}}</li>
                        <li class="values-list__item">{{original_title}}</li>
                        <li class="values-list__item" id="genres">{{genres}}</li>
                    </ul > </div>
                    <h3 class="about-title">ABOUT</h3>
                    <div class="text-thumb">
                        <p class="film-description">{{overview}}</p>
                    </div>
                <ul class="modal-buttons__list">
                    <li class="modal-buttons__item">
                        <button class="watched-btn">Add to watched</button>
                    </li>
                    <li class="modal-buttons__item">
                        <button class="queue-btn">Add to queue</button>
                    </li>
                </ul>
            </div>
        <div class="movie-trailer-backdrop is-modal-hidden">
            <div class="modal-movie-trailer-is-hidden">
                <iframe class="iframe" src="https://www.youtube.com/embed/{{youtube_video_id}}?origin=https://rostykwave.github.io/Filmoteka/" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <span class="visually-hidden movie-release-date-inModal">{{release_date}}</span>
        <span class="visually-hidden movie-id-inModal">{{id}}</span>